body {
  margin: 0;
  padding: 0;
}
h1{
  margin: 0;
  color: white;
  background-color: rgb(60, 140, 233);
  padding: 10px;
}
.update{
  color: gray;
}
h2 {
  font-size: 24px;
  margin-bottom: 0;
}
table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #d2d2d2;

}
table td:first-child{
  background-color: rgba(222, 222, 222, 0.3);
  border-collapse: separate;
}
table tr:first-child>*{
  color: #FFFFFF;
  background-color: rgb(60, 140, 233);
}
table th,table td{
  padding: 5px 0;
  text-align: center;
}
.th1{
  width: 20%;
}
.th2{
  width: 60%;
}
.th3{
  width: 20%;
}
table tr:nth-child(odd){
  background-color: #eee
}
.tdhr{
  border-color: #ffffff;
}
.a_none{
  text-decoration: none;
}
button{
  border-radius: 100px;
  border-color: rgb(60, 140, 233);
  border-width: 4px;
  background-color: rgb(60, 140, 233);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 0px 4px 1px rgb(171, 171, 171);
}
